body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}
header {
    border-bottom: 1px solid black;
    margin-bottom: 2rem;
    display: flex;
   
}
h1, a {
    color: gray;
}
.post-entry {
    margin: 0;
    font-weight: 800;
}
.post-entry p {
    color: brown;
}
.nav-left {
    margin-right: auto;

    
}
.nav-right {
    display: flex;
    padding-top: 2rem;
    padding-right: 20px;
 
}

    