{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="article-entry">

     <h2> {{ object.title }}</h2>
     <p>by {{ object.author }} | {{ object.date }}</p>
     <p>{{ object.body }}</p>
    </div>
    <hr>
    <h2 class="text-4xl font-extrabold dark:text-white">Comments</h2>
    {% for comment in article.comment_set.all %}
    <p>{{ comment.author }}&middot;{{ comment }}</p>
    {% endfor %}
    <br>
    <hr>
    <h2 class="text-4xl font-extrabold dark:text-white">Add a Comments</h2>
    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit">Save</button>
    </form>
    <br>
    <div>
        <p><a href="{% url 'article_edit'  article.pk %}"></a>Edit</p>
        <p><a href="{% url 'article_delete' article.pk %}"></a>Delete</p>

    </div>
    <p>Back To <a href="{% url 'article_list' %}"></a> All Articles</p>


{% endblock content %}
