.box {
    background-color: burlywood;
    width: 300px;
    border: 15px solid greenyellow;
    border-bottom-color: brown;
    border-top-color: aqua;
    padding: 40px;
    margin: 20px;
    box-shadow: 20px 20px;
    
}