{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Password Change {% endblock title %}

{% block content %}
<h1>Password Change</h1>
<p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>

<form action="" method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    
    <label for="number-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Change my Password:</label>
    <input type="submit" id="number-input" aria-describedby="helper-text-explanation" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="*****" required />

</form>

{% endblock content %}